* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.header,
.article,
.aside,
.footer {
  display: grid;
  place-items: center;
  padding: 4rem;
}

.header {
  background: #7ffbfc;
}

.aside {
  background: #9a98f8;
}

.article1 {
  background: #96f8bb;
}

.article2 {
  background: #f7bf7f;
}

.article3 {
  background: #ef7ebf;
}

.article4 {
  background: #d3f77f;
}

.footer {
  background: #85a3e0;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
  }

  .header {
    grid-column: 1 / 9;
  }

  .aside {
    grid-column: 1 / 9;
  }

  .article1 {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  .article2 {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
  }

  .article3 {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }

  .article4 {
    grid-column: 5 / 9;
    grid-row: 4 / 5;
  }

  .footer {
    grid-column: 1 / 9;
  }
}

@media (min-width: 1024px) {
  .aside {
    grid-column: 7 / 9;
    grid-row: 2 / 4;
  }

  .article1 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .article2 {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
  }

  .article3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .article4 {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
  }
}
